doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title PayWind | History
      link(rel="icon" href="/images/Logomark.png")
      link(rel="stylesheet", href="/css/style.min.css", type="text/css")
      block script
         script
            include ../../../assets/javascripts/passValidation.js
            include ../../../assets/javascripts/show_pass.js
   body(class="overflow-x-auto")
      div(class="container min-h-screen max-w-7xl mx-auto px-4 sm:px-2 md:px-6 flex flex-col font-nunito_sans")
         include ../../../assets/layouts/header.pug
         +header(username)
         div(class="mt-8 lg:mt-24 w-full h-full flex flex-col items-center justify-centers")
            form(class="mx-auto flex flex-col md:w-2/3 md:max-w-[400px] md:px-0 md:gap-4 h-fit border border-slate-300 px-4 py-12 rounded-[1.5rem] gap-6 bg-white justify-center items-center shadow-lg")
               p(class="font-semibold text-[30px] md:mb-12 mb-10 text-center font-kanit") Change Password
               div(class="relative")
                  input(type="password", placeholder="Current Password", name="old_password", class="border border-slate-400 p-2 pl-4 rounded-md w-full", id="old_password" oninput="passValidation()" required)
                  span(type="icon" class="absolute right-2 top-1/2 translate-y-[-50%] hover:cursor-pointer", id="passIcon", onclick="show_pass()")
                     include ../../../../public/icons/eye-outline.svg
                     include ../../../../public/icons/eye-off-outline.svg
               div(class="relative")
                  input(type="password", placeholder="Password", name="password", class="border border-slate-400 p-2 pl-4 rounded-md w-full", id="pass_input" oninput="passValidation()" required)
                  span(type="icon" class="absolute right-2 top-1/2 translate-y-[-50%] hover:cursor-pointer", id="passIcon", onclick="show_pass()")
                     include ../../../../public/icons/eye-outline.svg
                     include ../../../../public/icons/eye-off-outline.svg
               p(id="pass_regEx" class="pt-2 pl-2 m-0 hidden h-fit")
               div
                  div(class="relative")
                     input(type="password", placeholder="Confirm Password", name="confirm_password", class="border border-slate-400 p-2 pl-4 rounded-md w-full", id="confirm_pass" oninput="passValidation()" required)
                     span(type="icon" class="absolute right-2 top-1/2 translate-y-[-50%] hover:cursor-pointer", id="passIcon", onclick="show_pass()")
                        include ../../../../public/icons/eye-outline.svg
                        include ../../../../public/icons/eye-off-outline.svg
                  p(id="pass_valid" class="pt-2 pl-2 m-0 hidden h-fit")

               button(class="border h-fit px-4 py-2 rounded-md my-2 cursor-pointer bg-blue-500 text-white ease-in-out delay-100 hover:bg-blue-700 hover:-translate-y-1.5 hover:scale-105 duration-300 border-[#282828]", id="submit" type="submit") Change Password


      div(class="absolute bottom-0 w-full")
         include ../../../assets/layouts/footer.pug