doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
<<<<<<< HEAD:views/account/user/features/withdraw.pug
        link(rel="stylesheet", href="/css/style.css")
        title Withdraw
    body
=======
        link(rel="stylesheet", href="/styles/style.css")    
        <link rel="icon" href="/images/Logomark.png">
        title PayWind | Withdraw
    body 
>>>>>>> master:views/user/features/withdraw.pug
        p This is Withdraw page