doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title PayWind
    link(rel="icon" href="/images/Logomark.png")
    link(href="/css/style.css", rel="stylesheet")
  body
    div(class="container max-w-7xl mx-auto px-4 sm:px-2 md:px-6")
      include ../views/assets/layouts/header.pug
