doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title #{error_title}
      link(href="./styles/style.css", rel="stylesheet")
   body
      div(class="lg:px-24 lg:py-24 md:py-20 md:px-44 lg:flex-row md:gap-28 px-4 py-24 items-center flex justify-center flex-col gap-16 text-center")
         div(class="xl:pt-24 xl:w-1/2 lg:pb-0 w-full relative pb-12")
            div(class="relative")
               div(class="flex flex-col gap-y-6")
                  p(class="text-[150px] text-indigo-600 leading-none font-semibold") #{error_code}
                  div
                     h1(class="my-2 text-gray-800 font-bold text-2xl")
                        |#{error_header}
                     p(class="my-2 text-gray-800") #{error_des}
                     a(href="/")
                        button(class="my-2 border rounded md py-4 px-8 text-center bg-indigo-600 text-white sm:w-full lg:w-auto hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50") Homepage