doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Create Account
    link(href="./styles/style.css", rel="stylesheet")

  body(class="h-screen w-screen flex justify-center items-center")
    div(class="bg-gradient-to-r from-emeral-600 to-emerald-100 w-full")
      p This is Create Account Modal