doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Create Account
    body(class="h-screen w-screen flex justify-center items-center")
        div(class="bg-gradient-to-r from-emeral-600 to-emerald-100 w-full")
            p This is Create Account Modal