doctype html
body 
    ul(class="flex items-center gap-x-6 font-semibold")
        li
            a(href="/", class="hover:text-indigo-600 duration-150 ease-linear transition text-lg") Home
        li
            a(href="/about_us", class="hover:text-indigo-600 duration-150 ease-linear transition text-lg") About Us
        li
            a(href="/features", class="hover:text-indigo-600 duration-150 ease-linear transition text-lg") Features