mixin menu(user)
    body
        ul(class="flex items-center gap-x-6 md:gap-x-10 font-[550]")
            li
                a(href="/", class="hover:text-blue-600 duration-150 ease-linear transition text-xl") Home
            li
                a(href="/about_us", class="hover:text-blue-600 duration-150 ease-linear transition text-xl") About Us
            if user
                li
                    a(href="/features", class="hover:text-blue-600 duration-150 ease-linear transition text-xl") Features
                li
                    a(href="/account/user/dashboard", class="hover:text-blue-600 duration-150 ease-linear transition text-xl") Profile
            else
                li
                    a(href="#", class="text-xl text-gray-500 cursor-not-allowed") Features
                li
                    a(href="#", class="text-gray-500 cursor-not-allowed text-xl") Profile