body 
    ul(class="flex items-center gap-x-6 md:gap-x-10 font-[550]")
        li
            a(href="/", class="hover:text-blue-600 duration-150 ease-linear transition text-xl") Home
        li
            a(href="/about_us", class="hover:text-blue-600 duration-150 ease-linear transition text-xl") About Us
        li
            a(href="/features", class="hover:text-blue-600 duration-150 ease-linear transition text-xl") Features
        li
            a(href="/profile", class="hover:text-blue-600 duration-150 ease-linear transition text-xl") Profile