mixin status(status)
    case status
        when 'ready'
            div(class="bg-[#00C851BF] flex items-center justify-center px-2 rounded-[15px] text-white font-semibold text-[18px] w-fit h-[54px]") 
                p Your profile is ready for all features on PayWind
        when 'pending'
            div(class="bg-[#FFBB33] flex items-center justify-center px-2 rounded-[15px] text-white font-semibold text-[18px] w-fit h-[54px]") 
                p Please verifiying your profile for further features
        when 'blocked'
            div(class="bg-[#FF4444] flex items-center justify-center px-2 rounded-[15px] text-white font-semibold text-[18px] w-fit h-[54px]") 
                p Your profile has been disable due to unusal activities