body 
    footer(class="bg-blue-500 h-fit border border-t-[1px] border-blue-500 w-full flex justify-between items-center mt-8 px-8 sm:px-4")
            p(class="p-2 text-white text-sm") &#169 2022 PayWind.All Rights Reserved | Design by SVTDTU
            label(class="inline-flex items-center cursor-pointer")
                input(type="checkbox", name="toggle", id="toggle", class="sr-only peer", onclick="toggleMode()" checked)
                div(class="w-8 h-4 rounded-full dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-gray-700 peer-checked:after:bg-gray-600 after:absolute after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-white")
