doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/style.css")
        title Header
    body    
        div(class="flex justify-between items-center mt-[30px] px-4 nd:px-0")
            span(class="h-[40px] w-[40px] md:hidden")
                include ../../../public/icons/menu.svg
            img(src="/images/main_logo.png", alt="PayWind", class="")
            div(class="hidden md:block") 
                include ./_menu.pug
            button(class="bg-indigo-500 text-white ease-in-out deplay-100 hover:bg-indigo-700 duration-300 px-[20px] py-[5px] rounded-lg font-semibold") Sign In