body
    div(class="mt-[72px] mb-12 md:mb-0 flex flex-col md:flex-row justify-between items-center")
        div(class="")
            h1(class="font-[800] max-w-[400px] md:max-w-none text-[52px] text-center md:text-left md:text-[82px] leading-[68px] md:leading-[110px] text-blue-600 md:w-[690px]") Simply a better E-Wallet 
            img(srcset="images/LandingPageBackground.png 2x", alt="", class="w-[300px] mx-auto md:hidden")
            p(class="text-[22px] font-semibold leading-[30px] mt-[24px] mb-[50px] text-center md:text-left") With PayWind E-Wallet, you will no longer worry about your money because Safe, Accurate, and Fast is our main considerations.
            div(class="font-bold text-[26px] leading-[42px] flex flex-col md:flex-row justify-center md:justify-start items-center")
                button(class="w-[200px] h-[50px] bg-blue-600 text-white flex justify-center items-center rounded-2xl md:mr-[28px]") 
                    a(href="/account/signin") Get Started
                a(href="/account/signup", class="text-blue-500 hover:text-blue-700 duration-100 ease-in-out mt-[22px] md:mt-0") Create Account
        img(srcset="images/LandingPageBackground.png 2x", alt="", class="w-[600px] ml-[50px] hidden md:block")