body
    div(class="mt-[72px] flex justify-between items-center")
        div(class="")
            h1(class="font-[800] text-[82px] leading-[110px] text-blue-600 w-[690px]") Simply a better E-Wallet 
            p(class="text-[22px] font-semibold leading-[30px] mt-[24px] mb-[50px]") With PayWind E-Wallet, you will no longer worry about your money because Safe, Accurate, and Fast is our main considerations.
            div(class="font-bold text-[26px] leading-[42px] flex items-center")
                button(class="w-[200px] h-[50px] bg-blue-600 text-white flex justify-center items-center rounded-2xl mr-[28px]") 
                    a(href="/account/signin") Get Started
                a(href="/account/signup", class="text-blue-500 hover:text-blue-700 duration-100 ease-in-out") Create Account
        img(srcset="images/LandingPageBackground.png 2x", alt="", class="w-[600px] ml-[50px]")