doctype html
//- - var profile_detail_labels = [
//-    "Full Name", "Email", "Phone Number", "Gender", "Address", "Birthday"
//- ];
//- - var demo_user = [
//-    "John Doe", "johnDoe@example.mail.com", "076 268 2712", "Gentle", "California, US", "15/12/2002"
//- ];
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title PayWind | Dashboard
      link(rel="icon" href="/images/Logomark.png")
      link(rel="stylesheet", href="/css/style.min.css", type="text/css")
      include ../../assets/layouts/_statusBar.pug  
   body
      div(class="container max-w-7xl mx-auto px-4 sm:px-2 md:px-6 flex flex-col font-nunito_sans")
         include ../../assets/layouts/header.pug
         div(class="flex flex-col-reverse lg:flex-row justify-between my-8 md:mt-16")
            section(class="profile-detail font-sourcepro")
               h1(class="font-semibold text-[25px] md:text-[34px]") Profile Details 
               div(class="grid md:grid-cols-2 gap-6 mt-4 md:mt-8")
                  //- each item in ["Full Name", "Email", "Phone Number", "Gender", "Address", "Birthday"]
                  //-    label(for="name")= item
                  //- each info in ["John Doe", "johnDoe@example.mail.com", "076 268 2712", "Gentle", "California, US", "15/12/2002"]
                     p(class="flex gap-x-2 font-[700] text-[19px]")= info
                  div(class="flex gap-x-2 font-[700] text-[19px]")
                     label(for="name") Fullname:
                     p(class="text-[#1570EF]") John Doe
                  div(class="flex gap-x-2 font-[700] text-[19px]")
                     label(for="name") Email:
                     p(class="text-[#1570EF]") johnDoe@example.mail.com
                  div(class="flex gap-x-2 font-[700] text-[19px]")
                     label(for="name") Phone number:
                     p(class="text-[#1570EF]") 076 268 2712
                  div(class="flex gap-x-2 font-[700] text-[19px]")
                     label(for="name") Gender:
                     p(class="text-[#1570EF]") Gentle
                  div(class="flex gap-x-2 font-[700] text-[19px]")
                     label(for="name") Address:
                     p(class="text-[#1570EF]") California, US
                  div(class="flex gap-x-2 font-[700] text-[19px]")
                     label(for="name") Birthday:
                     p(class="text-[#1570EF]") 15/12/2002
                        
            div(class="flex flex-col items-center mb-4 md:mb-8 gap-y-6") 
               include ../../assets/layouts/_creditCard.pug
               include ../../assets/layouts/_summary.pug
               div(class="flex flex-col items-end md:mt-14 gap-4 md:gap-12") 
                  +status('pending')
                  a(href="#", class="font-bold text-blue-600 text-[20px] text-center mx-auto") Update Information