html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="icon" href="/images/Logomark.png")
      meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
      title PayWind | Error
      link(rel="stylesheet", href="/css/style.min.css", type="text/css")
      link(rel='preconnect' href='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap' rel='stylesheet')
      link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet")
      //- script
      //-    include ../../assets/javascripts/theme.js
      //- block script
      //-    script
      //-       include ../../assets/javascripts/show_pass.js
      //-       include ../../assets/javascripts/toggleMode.js

   body(class="w-screen h-screen justify-center items-center bg-[#E1E5E8] flex flex-col", id="body")
      div(class="bg-white p-8 flex flex-col rounded-2xl gap-6 items-center justify-center")
         h1(class="text-red-600 text-4xl font-extrabold") Sign Up Unsuccessfully!!!
         p(class="hidden") #{err}
         p(class="text-lg font-semibold") Please Sign Up again! 
         a(href="signup",class="border h-fit px-4 py-2 rounded-md cursor-pointer bg-blue-500 text-white ease-in-out delay-100 hover:bg-blue-700 hover:-translate-y-1.5 hover:scale-105 duration-300 font-semibold") 
            button Sign up