html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="icon" href="/images/Logomark.png")
      meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
      title PayWind | Error
      link(rel="stylesheet", href="/css/style.min.css", type="text/css")
      link(rel='preconnect' href='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap' rel='stylesheet')
      link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet")
      //- script
      //-    include ../../assets/javascripts/theme.js
      //- block script
      //-    script
      //-       include ../../assets/javascripts/show_pass.js
      //-       include ../../assets/javascripts/toggleMode.js

   body(class="w-screen h-screen bg-[#E1E5E8] flex flex-col", id="body")
      p #{err}
      button
         a(href="signup") Ok