doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="icon" href="/images/Logomark.png")
      meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
      title PayWind | Sign In
      link(rel="stylesheet", href="/css/style.min.css", type="text/css")
      link(rel='preconnect' href='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap' rel='stylesheet')
      link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet")
      script
         include ../../assets/javascripts/theme.js
      block script
         script
            include ../../assets/javascripts/show_pass.js
            include ../../assets/javascripts/toggleMode.js

   body(class="w-screen h-screen bg-[#E1E5E8] flex flex-col", id="body")
      div(class="flex flex-col items-center flex-1")
         include ../../assets/layouts/_logo.pug

         form(method='post', id="form", class="flex flex-col md:w-2/3 md:max-w-[400px] md:px-0 md:gap-4 h-fit border border-slate-300 px-8 py-12 rounded-[1.5rem] gap-6 bg-white justify-center items-center shadow-lg")
            div(class="flex flex-col w-full px-8")
               p(class="font-semibold text-[30px] md:mb-12 mb-10 text-center font-kanit") Sign In
               div(class="flex flex-col gap-y-6 font-sourcepro")
                  input(type="text", placeholder="Email" name="email" id="email" class="border border-slate-400 p-2 rounded-md pl-4")
                  div(class="relative")
                     input(type="password", placeholder="Password", name="password" class="border border-slate-400 pl-4 p-2 rounded-md w-full", id="pass" required)
                     span(type="icon" class="absolute right-2 top-1/2 translate-y-[-50%] hover:cursor-pointer", id="passIcon", onclick="show_pass()")
                        include ../../../public/icons/eye-outline.svg
                        include ../../../public/icons/eye-off-outline.svg
                  if message != ''
                     p(class="pt-2 pl-2 m-0 text-red-500 font-semibold text-") #{message}
                  input(type="submit" id="submit" value="Sign In" class="border h-fit px-4 py-2 rounded-md my-2 cursor-pointer bg-blue-500 text-white ease-in-out delay-100 hover:bg-blue-700 hover:-translate-y-1.5 hover:scale-105 duration-300 border-[#282828]")
               p(class="text-center py-4") -- Or sign in with --
                  div(class="flex justify-center items-center gap-6")
                     div(class=" px-4 py-2 rounded-lg border border-slate-400 w-2/3 text-center font-bold hover:bg-blue-500 hover:cursor-pointer duration-300 delay-75 hover:text-white", id="btn_gg")
                           a(href="#") Google
                     div(class="px-4 py-2 rounded-lg border border-slate-400 w-2/3 text-center font-bold hover:bg-blue-500 hover:cursor-pointer duration-300 delay-75 hover:text-white", id="btn_fb")
                           a(href="#") Facebook
               p(class="mt-4 text-center") Don't have account?
                  a(href="signup", class="md:ml-2 underline text-blue-500 hover:text-blue-300 block md:inline") Sign Up
      include ../../assets/layouts/footer.pug
