doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Sign In
      link(rel="stylesheet", href="/css/style.css", type="text/css")
      block script
         script
            include ../../assets/javascripts/show_pass.js

   body(class="w-screen, h-screen flex justify-center items-center")
      form(method='post', class="flex w-3/4 lg:w-2/3 h-fit border p-6 rounded-lg gap-6")
         div(class="flex justify-start items-start w-1/3 bg-indigo-500")
         div(class="flex flex-col w-2/3")
            p(class="font-semibold text-[30px] mb-16") Sign In
            div(class="flex flex-col gap-y-6")
               input(type="text", placeholder="Username" class="border p-2 rounded-md")
               div(class="relative")
                  input(type="password", placeholder="Password", name="password", class="border p-2 rounded-md w-full", id="passInput" required)
                  span(type="icon" class="absolute right-2 top-1/2 translate-y-[-50%] hover:cursor-pointer", id="passIcon", onclick="show_pass()")
                     include /images/eye-outline.svg
                     include /images/eye-off-outline.svg
               input(type="submit", value="Sign In" class="border h-fit px-4 py-2 rounded-md my-2 cursor-pointer bg-indigo-500 text-white ease-in-out delay-100 hover:bg-indigo-700 hover:-translate-y-1.5 hover:scale-105 duration-300")
            p Don't have account?
               a(href="/account/create_account", class="ml-2 underline text-indigo-500 hover:text-indigo-300") Create Account