doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
        link(rel="icon" href="/images/Logomark.png")
        link(rel="stylesheet", href="/css/style.min.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap' rel='stylesheet')
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet")
        title PayWind | Create New Account
        block script
         script
            include ../../assets/javascripts/show_pass.js
            include ../../assets/javascripts/emailValidation.js
            include ../../assets/javascripts/passValidation.js
            include ../../assets/javascripts/passRegEx.js
            include ../../assets/javascripts/toggleMode.js

    body(class="w-screen h-screen bg-[#E1E5E8] flex flex-col", id="body")
        include ../../assets/layouts/_logo.pug
        div(class="flex flex-col flex-1 items-center")
            form(method='post', class="flex flex-col w-3/4 md:w-1/3 lg:w-1/4 md:px-0 md:gap-4 h-fit border border-slate-300 p-8 py-12 rounded-[1.5rem] gap-6 bg-white justify-center items-center shadow-lg", id="form")
                div(class="flex flex-col md:w-2/3")
                    p(class="font-semibold text-[30px] md:mb-12 mb-10 text-center font-kanit") Sign Up
                    div(class="flex flex-col gap-y-6 font-sourcepro")
                        div
                            input(type="email", placeholder="Email" id="email" name="email" class="border border-slate-400 p-2 pl-4 rounded-md w-full" oninput="emailValidation()")
                            p(id="emailError" class="pt-2 pl-2 m-0 hidden h-fit")
                        input(type="text", placeholder="Username" id="username" name="username" class="border border-slate-400 p-2 pl-4 rounded-md")
                        div
                            div(class="relative")
                                input(type="password", placeholder="Password", name="password", class="border border-slate-400 p-2 pl-4 rounded-md w-full", id="pass_input" oninput="passRegEx()" required)
                                span(type="icon" class="absolute right-2 top-1/2 translate-y-[-50%] hover:cursor-pointer", id="passIcon", onclick="show_pass()")
                                    include ../../../public/icons/eye-outline.svg
                                    include ../../../public/icons/eye-off-outline.svg
                            p(id="pass_regEx" class="pt-2 pl-2 m-0 hidden h-fit")
                        div
                            div(class="relative")
                                input(type="password", placeholder="Confirm Password", name="confirm_password", class="border border-slate-400 p-2 pl-4 rounded-md w-full", id="confirm_pass" oninput="passValidation()" required)
                                span(type="icon" class="absolute right-2 top-1/2 translate-y-[-50%] hover:cursor-pointer", id="passIcon", onclick="show_pass()")
                                    include ../../../public/icons/eye-outline.svg
                                    include ../../../public/icons/eye-off-outline.svg
                            p(id="pass_valid" class="pt-2 pl-2 m-0 hidden h-fit")
                        button(onClick="check_create_account()" value="Create Account" class="border h-fit px-4 py-2 rounded-md my-2 cursor-pointer bg-blue-500 text-white ease-in-out delay-100 hover:bg-blue-700 hover:-translate-y-1.5 hover:scale-105 duration-300 border-[#282828]", id="submit") Create Account
                    p(class="mt-4 text-center") Already have an account?
                        a(href="signin", class="ml-2 underline text-blue-500 hover:text-blue-300") Sign In

        footer(class="bg-blue-500 h-fit border border-t-[1px] border-blue-500 w-full fixed bottom-0 flex justify-between items-center")
            p(class="p-2 text-white text-sm") &#169 2022 PayWind.All Rights Reserved | Design by SVTDTU

            label(class="inline-flex items-center cursor-pointer")
                input(type="checkbox", name="toggle", id="toggle", class="sr-only peer", onclick="toggleMode()" checked)
                div(class="w-8 h-4 rounded-full dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-gray-700 peer-checked:after:bg-gray-600 after:absolute after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-white")
